ion-item{
    // --border-color: rgb(163, 3, 3);
    border-bottom: solid 2px rgb(163, 3, 3) !important;
}
.trainer-row{
    border-bottom: solid 0.5px rgb(163, 3, 3) !important;
}
ion-card{
    background-color:rgb(244, 252, 155);
}