<ion-header>
  <ion-toolbar>
    <ion-title class="header ion-text-center">Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button [routerLink]="['/trainer']">
      <ion-label>Trainers</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/training-vedio']">
      <ion-label>Training Vedio</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Gallary</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Marchendise</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Diet Chart</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>